
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.6.2
bokeh
boltons
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cvxpy==1.3.2
cycler
cytoolz
daal4py==2023.1.1
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docopt==0.6.2
docstring-to-markdown
docutils
ecos==2.0.12
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.10
GitPython==3.1.32
glob2
greenlet
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
more-itertools
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python==4.8.0.76
openpyxl==3.0.10
osqp==0.6.3
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow==9.4.0
pipreqs==0.4.13
pkginfo
platformdirs
plotly
pluggy
ply==3.11
pooch
poyo
prettytable==3.8.0
prometheus-client
prompt-toolkit
Protego
protobuf==4.24.0
psutil
ptyprocess
PuLP==2.7.0
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
Pympler==1.0.1
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySimpleGUI==4.60.5
PySocks
pytest
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pytz-deprecation-shim==0.1.0.post0
pyviz-comms
PyWavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qdldl==0.1.7.post0
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich==13.5.2
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
s3transfer
sacremoses
scikit-image
scikit-learn
scikit-learn-intelex==20230426.121932
scipy==1.10.1
Scrapy
scs==3.2.3
seaborn
Send2Trash
service-identity
sip
six
smart-open
smmap==5.0.0
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit==1.25.0
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
twisted-iocpsupport
typing_extensions
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py
ujson
Unidecode
urllib3
validators==0.21.2
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
xarray
xlrd2==1.3.4
xlwings
xlwt==1.3.0
xyzservices
y-py
yapf
yarg==0.1.9
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard==0.19.0
